* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  /* position: fixed; */
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  z-index: 1000;
  height: 70px;
  border-radius: 25px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}
