.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  /* background-color: #333; */
  background: linear-gradient(to right, #2c3e50, #3498db, #2980b9);
  z-index: 100;
  height: 60px;
}

.navbar-logo .logo-button {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: none;
}
.logo-image{
  height: 40px;
  width: auto;
}
.navbar-text{
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
}
.navbar-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 10px;
}
.navbar-links li {
  margin: 0;
}
.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
.navbar-links button{
  background: none;
  border: none;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
}
.navbar-links button:hover {
  color: #3498db;
  /* font-weight: bold; */
}
.navbar-links button.active {
  background-color: #3498db;
  font-weight: bold;
  color: #fff;
}