.app {
  min-height: 100vh;
}

.main-content {
  padding: 90px 30px 30px 30px;
  background: linear-gradient(135deg, #ffffff 0%, #45a8e1 50%, #7b69f2 100%);
  min-height: 100vh;
  text-align: center;
}
