.App {
  min-height: 100vh;
  background: linear-gradient(135deg, #8791ec 0%, #45a8e1 50%, #7b69f2 100%);
}

.main-content {
  padding: 90px 30px 30px 30px;
  /* min-height: 100vh; */
  text-align: center;
  margin-top: 46px;
}
